@font-face {
  font-family: "Red Hat Display";
  src: url(fonts/RedHatDisplay-VariableFont_wght.ttf);
}

* {
  font-family: "Red Hat Display";
  font-size: 16px;
  font-weight: 500;
}

body {
  background: url(images/pattern-background-desktop.svg) no-repeat;
  background-color: hsl(225, 100%, 94%);
}

.card {
  color: hsl(224, 23%, 55%);
  background-color: white;
}
